<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/general.css}" rel="stylesheet" />
    <link th:href="@{/styles/maincontentstyles.css}" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/images/favicon.ico">
</head>
<body>

<header id="header">
    <div class="header__container">
        <div class="header__content">
            <div class="overlay"></div>
        </div>
        <div class="header_navigation">
            <div class="logo_img" id="theme-toggle" title="SwapStyle"></div>
            <div th:class="nav_link">
                <a class="nav_link" href="/">На головну</a>
            </div>
        </div>
    </div>
</header>

<main>
    <p id="authorizeUserName" style="display: none" th:text="${#authorization.expression('isAuthenticated()')} ? ${#authentication.principal.username} : 'undefined'">Username</p>
    <div class="container">
        <!-- Перша секція з зображенням користувача та меню -->
        <section class="user-menu">
            <div class="user-image">
                <img th:if="${#authentication.principal.image != null}" th:src="@{'/bdimage/user/' + ${#authentication.principal.username}}" th:alt="UserImage">
                <img th:unless="${#authentication.principal.image != null}" th:src="@{/images/userDefault.jpg}" th:alt="UserImage">
            </div>
            <div class="menu-items">
                <a href="#" onclick="showForm('characteristic')" id="characteristic-link" class="menu-link">Характеристика</a>
                <a href="#" onclick="showForm('tschedule')" id="tschedule-link" class="menu-link">Тренування</a>
                <a href="#" onclick="showForm('technical-support')" id="technical-support-link" class="menu-link">Тех. підтримка</a>
                <a href="#" onclick="showForm('social-media')" id="social-media-link" class="menu-link">Соц. мережі</a>
                <!-- Додайте інші пункти меню, якщо потрібно -->
            </div>
        </section>
        <!-- Друга секція для налаштувань та контенту -->
        <section class="settings-content">
            <form th:class="characteristic" action="" method="post">
                <h2>Характеристики</h2>
                <div class="form-content">
                    <div class="form-section">
                        <label for="age">Вік:</label>
                        <input type="number" id="age" name="age" value="22">
                        <label for="weight">Вага(кг):</label>
                        <input type="number" id="weight" name="weight" value="67">
                        <label for="height">Ріст(см):</label>
                        <input type="number" id="height" name="height" value="181">
                        <label for="heart">Проблеми із серцем?</label>
                        <input type="checkbox" id="heart" name="heart">
                    </div>
                    <div class="divider">
                    </div>
                    <div class="form-section">
                        <label for="gender">Стать:</label>
                        <div class="styled-select">
                            <select id="gender" name="gender">
                                <option value="Чоловік" selected>Чоловік</option>
                                <option value="Жінка">Жінка</option>
                            </select>
                        </div>
                        <label for="purtraining">Мета тренування:</label>
                        <div class="styled-select">
                            <select id="purtraining" name="purtraining">
                                <option value="НабірМ" selected>Набір м'язової маси</option>
                                <option value="ВтратаВ">Втрата ваги</option>
                                <option value="ПідтримкаФорми">Підтримка форми</option>
                                <option value="Реабілітація">Реабілітація</option>
                            </select>
                        </div>
                        <label for="levelofpt">Рівень фізичної підготовки:</label>
                        <div class="styled-select">
                            <select id="levelofpt" name="levelofpt">
                                <option value="Початківець" selected>Початківець</option>
                                <option value="Досвідчений">Досвідчений</option>
                            </select>
                        </div>
                        <label for="obesity">Присутнє ожиріння?</label>
                        <input type="checkbox" id="obesity" name="obesity">
                    </div>
                </div>
                <button class="submit_button" type="submit">Підтвердити</button>
            </form>
            <form th:class="tschedule" action="" method="post">

            </form>
        </section>
    </div>

    <div th:class="${#authorization.expression('isAuthenticated()')} ? 'chat-container' : 'hidden'">
        <button class="open-chat-btn" onclick="showChat()">Open Chat</button>

        <div id="generalChatBox" class="chat-box">
            <div class="chat-header">
                <button class="tab-header active" onclick="showChat()">General</button>
                <button class="tab-header" onclick="showUserList()">User to User</button>
                <button class="close-chat-btn" onclick="closeChat('generalChatBox')">X</button>
            </div>
            <div class="chat-content" id="generalChatContent">
                <!-- Chat messages will be added here -->
            </div>
            <div class="chat-input-container">
                <div class="input-wrapper">
                    <input type="text" id="generalChatInput" placeholder="Type a message..." maxlength="255" oninput="updateCharCount('generalChatInput','chatGeneralCount')">
                    <div class="char-count" id="chatGeneralCount">0/255</div>
                </div>
                <button onclick="sendMessageToGeneral()">Send</button>
            </div>
        </div>
        <div id="userList" class="user-list">
            <div class="user-list-header">
                <button class="tab-header" id="test_all" onclick="showChat()">Back</button>
                <span>Select User to Chat</span>
                <button class="close-chat-btn" onclick="closeChat('userList')">X</button>
            </div>
            <div class="collapsible">
                <button class="collapsible-header" onclick="toggleList('onlineUserListContent')" style="color: #007bff">ONLINE</button>
                <ul id="onlineUserListContent" class="collapsible-content">
                    <!-- Online user list items will be added here dynamically -->
                </ul>
            </div>
            <div class="collapsible">
                <button class="collapsible-header" onclick="toggleList('userListContent')" style="color: #676363">OFFLINE</button>
                <ul id="userListContent" class="collapsible-content">
                    <!-- Offline user list items will be added here dynamically -->
                </ul>
            </div>
        </div>
        <div id="chatBox" class="chat-box">
            <div class="chat-header">
                <button class="tab-header" onclick="showUserList()">Back</button>
                <span id="chatWithUser"></span>
                <button class="close-chat-btn" onclick="closeChat('chatBox')">X</button>
            </div>
            <div class="chat-content" id="chatContent">
                <!-- Chat messages will be added here -->
            </div>
            <div class="chat-input-container">
                <div class="input-wrapper">
                    <input type="text" id="chatToUserInput" placeholder="Type a message..." maxlength="255" oninput="updateCharCount('chatToUserInput','charToUserCount')">
                    <div class="char-count" id="charToUserCount">0/255</div>
                </div>
                <button onclick="sendMessageToUser()">Send</button>
            </div>
        </div>
    </div>

</main>

<img th:src="@{/images/nightStartLogo.jpg}" alt="Full Screen Image" class="full-screen-image">
<script type="text/javascript" th:src="@{/js/general.js}"></script>
<script type="text/javascript" th:src="@{/js/maincontentjs.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</body>
</html>