<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/general.css}" rel="stylesheet" />
    <link th:href="@{/styles/maincontentstyles.css}" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/images/favicon.ico">
</head>
<body>

<header id="header">
    <div class="header__container">
        <div class="header__content">
            <div class="overlay"></div>
        </div>
        <div class="header_navigation">
            <div class="logo_img" id="theme-toggle" title="SwapStyle"></div>
            <div th:class="nav_link">
                <a class="nav_link" href="/">На головну</a>
            </div>
        </div>
    </div>
</header>

<main>
    <p class="popUpMessage" style="opacity: 0">Повідомлення</p>

    <p id="authorizeUserName" style="display: none" th:text="${#authorization.expression('isAuthenticated()')} ? ${#authentication.principal.username} : 'undefined'">Username</p>
    <div class="container">
        <!-- Перша секція з зображенням користувача та меню -->
        <section class="user-menu">
            <div class="user-image">
                <img th:if="${#authentication.principal.image != null}"
                     th:src="@{'/bdimage/user/' + ${#authentication.principal.username}}" th:alt="UserImage">
                <img th:unless="${#authentication.principal.image != null}" th:src="@{/images/userDefault.jpg}"
                     th:alt="UserImage">
            </div>
            <div class="menu-items">
                <a  onclick="showForm('characteristics')" id="characteristics-link" class="menu-link">Характеристика</a>
                <a  onclick="showForm('tSchedule')" id="tSchedule-link" class="menu-link">Тренування</a>
                <a  onclick="goToChatWithAdmin()" id="technical-support-link" class="menu-link">Підтримка</a>
                <a  onclick="showAllMedia()" id="social-media-link" class="menu-link">Соц. мережі</a>
                <!-- Додайте інші пункти меню, якщо потрібно -->
            </div>
        </section>
        <div class="settings-content">
            <!-- Друга секція для характеристики користувача -->
            <section class="characteristics-section">
                <form id="characteristicForm" class="characteristic-form" th:action="@{/api/user/characteristic}" method="post">
                    <h2>Характеристики</h2>
                    <div class="form-content">
                        <div class="form-section">
                            <label for="weight">Вага (кг):</label>
                            <input type="number" id="weight" name="weight" th:value="${characteristics != null ? characteristics.weight : 50}">

                            <label for="height">Ріст (см):</label>
                            <input type="number" id="height" name="height" th:value="${characteristics != null ? characteristics.height : 170}">

                            <label for="asthma">Респіраторні проблеми або астма?</label>
                            <input type="checkbox" id="asthma" name="healthConditions" value="Asthma" th:checked="${characteristics != null and characteristics.healthConditions.contains('Asthma')}">

                            <label for="heartProblems">Проблеми із серцем?</label>
                            <input type="checkbox" id="heartProblems" name="healthConditions" value="Heart problems" th:checked="${characteristics != null and characteristics.healthConditions.contains('Heart problems')}">
                        </div>

                        <div class="divider"></div>

                        <div class="form-section">
                            <label for="gender">Стать:</label>
                            <div class="styled-select">
                                <select id="gender" name="gender">
                                    <option value="Male" th:selected="${characteristics != null and characteristics.gender == 'Male'}">Чоловік</option>
                                    <option value="Female" th:selected="${characteristics != null and characteristics.gender == 'Female'}">Жінка</option>
                                </select>
                            </div>

                            <label for="trainingGoal">Мета тренування:</label>
                            <div class="styled-select">
                                <select id="trainingGoal" name="trainingGoal">
                                    <option value="Build muscle" th:selected="${characteristics != null and characteristics.trainingGoal == 'Build muscle'}">Набір м'язової маси</option>
                                    <option value="Lose weight" th:selected="${characteristics != null and characteristics.trainingGoal == 'Lose weight'}">Втрата ваги</option>
                                    <option value="Form support" th:selected="${characteristics != null and characteristics.trainingGoal == 'Form support'}">Підтримка форми</option>
                                    <option value="Rehabilitation" th:selected="${characteristics != null and characteristics.trainingGoal == 'Rehabilitation'}">Реабілітація</option>
                                </select>
                            </div>

                            <label for="fitnessLevel">Рівень фізичної підготовки:</label>
                            <div class="styled-select">
                                <select id="fitnessLevel" name="fitnessLevel">
                                    <option value="Beginner" th:selected="${characteristics != null and characteristics.fitnessLevel == 'Beginner'}">Початківець</option>
                                    <option value="Intermediate" th:selected="${characteristics != null and characteristics.fitnessLevel == 'Intermediate'}">Проміжний</option>
                                    <option value="Advanced" th:selected="${characteristics != null and characteristics.fitnessLevel == 'Advanced'}">Досвідчений</option>
                                </select>
                            </div>

                            <label for="obesity">Присутнє ожиріння?</label>
                            <input type="checkbox" id="obesity" name="healthConditions" value="Obesity" th:checked="${characteristics != null and characteristics.healthConditions.contains('Obesity')}">
                        </div>
                    </div>

                    <button id="characteristicsButton" class="submit_button" type="submit" th:text="${characteristics != null ? 'Оновити характеристику' : 'Підтвердити характеристику'}">Підтвердити характеристику</button>
                </form>
            </section>

            <!-- Третя секція для графіку тренувань -->
            <section class="tSchedule-section">
                <form class="tSchedule-form" id="tScheduleForm" th:action="@{/api/workout/create}" method="post">
                    <h2>Мій графік</h2><br>
                    <div th:if="${!(characteristics != null)}" class="highlight-block">
                        <label>
                            У вас ще не додано характеристику!<br>
                            Будь ласка заповніть відомості!
                        </label>
                    </div>
                    <div class="planName">
                        <label for="planName">Введіть назву плану</label>
                        <input type="text" id="planName" name="planName" value="Мій план">
                    </div>
                    <div class="form-content">
                        <div class="form-section">
                            <label>Виберіть види тренування:</label>
                            <div class="checkboxes">
                                <label>
                                    Медитація
                                    <input class="checkboxesLabel" type="checkbox" name="trainingTypes" value="Meditation" checked>
                                </label>
                                <label>
                                    Силове навантаження
                                    <input class="checkboxesLabel" type="checkbox" name="trainingTypes" value="Weight training">
                                </label>
                                <label>
                                    Кардіо
                                    <input class="checkboxesLabel" type="checkbox" name="trainingTypes" value="Cardio">
                                </label>
                            </div>
                            <p class="additionalInformation error-message" style="display: none">Потрібно вибрати щонайменше один елемент</p>
                        </div>

                        <div class="divider"></div>

                        <div class="form-section">
                            <label for="daysPerWeek">К-сть занять в неділю - <output id="sliderValue">1</output></label>
                            <div class="slider-container">
                                <input type="range" id="daysPerWeek" name="daysPerWeek" min="1" max="7" value="0" oninput="sliderValue.value = this.value">
                            </div>
                            <label for="sessionDuration">Тривалість тренування (хв):</label>
                            <input type="number" id="sessionDuration" name="sessionDuration" value="60">
                            <label for="totalWeeks">Всього тижнів:</label>
                            <input type="number" id="totalWeeks" name="totalWeeks" value="4">
                        </div>
                    </div>

                    <div th:if="${characteristics != null or trainingPlans != null}" class="submit_button_container">
                        <button th:if="${characteristics != null}" type="submit" id="tSchedule_submitButton" class="submit_button" th:text="${trainingPlans != null ? 'Створити новий графік' : 'Створити графік'}">Створити графік</button>
<!--                        <button th:if="${(hasTrainingPlan == true)}" type="button" id="buttonDeleteTraining" class="delete_button" >Видалити графік</button>-->
                        <button th:if="${(trainingPlans != null)}" type="button" class="submit_button" onclick="toggleModal()">Відкрити список графіків</button>
                    </div></form>
<!--                Доробити!!!!!!-->
            </section>
        </div>
    </div>
    <div id="scheduleModal" class="modal fade-in" style="display: none;">
        <div id="workoutListModal" >
            <div class="modal-content" >
                <h2>Список графіків</h2>
                <ul class="no-bullets">
                    <li th:each="trainingPlan : ${trainingPlans}">
                        <div class="training-plan-item" onclick="toggleDetails(this)">
                            <span id="selectedPlanName" th:text="${trainingPlan.planName}"></span>
                            <!-- Секція для детальної інформації, що відображається лише при виборі -->
                            <div class="details" style="display: none;">
                                <p><strong>Мета:</strong> <span th:text="${trainingPlan.goal}"></span></p>
                                <p><strong>Рівень підготовки:</strong> <span th:text="${trainingPlan.fitnessLevel}"></span>
                                </p>

                                <p>
                                    <strong>Тривалість:</strong>
                                    <span>
                                     <span th:text="${trainingPlan.totalWeeks}">0</span> тижнів,
                                     <span th:text="${trainingPlan.daysPerWeek}">0</span> днів на тиждень,
                                     <span th:text="${trainingPlan.sessionDuration}">0</span> хвилин за сесію
                                </span>
                                </p>
                                <p>
                                    <strong>Типи тренувань:</strong>
                                    <span th:each="type, iterStat : ${trainingPlan.trainingTypes}"
                                          th:text="${type} + (iterStat.last ? '' : ', ')"></span>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div id="scheduleListButton" class="button-container" style="display: none;">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                    <button class="delete_button" onclick="deletePlan()">Видалити</button>
                    <button class="submit_button"  onclick="fetchWorkoutPlanDetails()">Детальніше</button>
                </div>
            </div>
        </div>
        <div id="workoutDetailsModal" style="display: none;">
            <div class="modal-content">
                <h2>Деталі тренування</h2>
                <div id="workoutDetailsContainer">

                </div>
                <button class="submit_button" onclick="displayWorkoutListModal()">Повернутись назад</button>
            </div>
        </div>
    </div>


    <div th:class="${#authorization.expression('isAuthenticated()')} ? 'chat-container' : 'hidden'">
        <button class="open-chat-btn" onclick="showChat()">Open Chat</button>

        <div id="generalChatBox" class="chat-box">
            <div class="chat-header">
                <button class="tab-header active" onclick="showChat()">General</button>
                <button class="tab-header" onclick="showUserList()">User to User</button>
                <button class="close-chat-btn" onclick="closeChat('generalChatBox')">X</button>
            </div>
            <div class="chat-content" id="generalChatContent">
                <!-- Chat messages will be added here -->
            </div>
            <div class="chat-input-container">
                <div class="input-wrapper">
                    <input type="text" id="generalChatInput" placeholder="Type a message..." maxlength="255"
                           oninput="updateCharCount('generalChatInput','chatGeneralCount')">
                    <div class="char-count" id="chatGeneralCount">0/255</div>
                </div>
                <button onclick="sendMessageToGeneral()">Send</button>
            </div>
        </div>
        <div id="userList" class="user-list">
            <div class="user-list-header">
                <button class="tab-header" id="test_all" onclick="showChat()">Back</button>
                <span>Select User to Chat</span>
                <button class="close-chat-btn" onclick="closeChat('userList')">X</button>
            </div>
            <div class="collapsible">
                <button class="collapsible-header" onclick="toggleList('onlineUserListContent')" style="color: #007bff">
                    ONLINE
                </button>
                <ul id="onlineUserListContent" class="collapsible-content">
                    <!-- Online user list items will be added here dynamically -->
                </ul>
            </div>
            <div class="collapsible">
                <button class="collapsible-header" onclick="toggleList('userListContent')" style="color: #676363">
                    OFFLINE
                </button>
                <ul id="userListContent" class="collapsible-content">
                    <!-- Offline user list items will be added here dynamically -->
                </ul>
            </div>
        </div>
        <div id="chatBox" class="chat-box">
            <div class="chat-header">
                <button class="tab-header" onclick="showUserList()">Back</button>
                <span id="chatWithUser"></span>
                <button class="close-chat-btn" onclick="closeChat('chatBox')">X</button>
            </div>
            <div class="chat-content" id="chatContent">
                <!-- Chat messages will be added here -->
            </div>
            <div class="chat-input-container">
                <div class="input-wrapper">
                    <input type="text" id="chatToUserInput" placeholder="Type a message..." maxlength="255"
                           oninput="updateCharCount('chatToUserInput','charToUserCount')">
                    <div class="char-count" id="charToUserCount">0/255</div>
                </div>
                <button onclick="sendMessageToUser()">Send</button>
            </div>
        </div>
    </div>
    <div id="mainOverlay" class="mainOverlay fade-in" onclick="closeOverlay()"></div>
    <div id="adminList" class="admin-list fade-in" style="display: none">
    </div>
    <div id="socialMediaMenu" class="social-media-menu fade-in">
        <ul>
            <li><a href="https://t.me/yourtelegram" target="_blank">Telegram</a></li>
            <li><a href="https://youtube.com/youryoutube" target="_blank">YouTube</a></li>
            <!-- Додайте більше соц. мереж за потребою -->
        </ul>
    </div>

</main>

<img th:src="@{/images/nightStartLogo.jpg}" alt="Full Screen Image" class="full-screen-image">
<script type="text/javascript" th:src="@{/js/general.js}"></script>
<script type="text/javascript" th:src="@{/js/maincontentjs.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</body>
</html>