/*Стилі секцій*/
/* Стилі для першої секції з зображенням користувача та меню */
.user-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24%;
    height: 60%;
}

.user-image {
    width: 100%;
    max-width: 300px;
    height: 30%;
    border-radius: 15%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/backUser.jpeg');
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.5);
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-image img {
    width: 50%;
    height: 80%;
    border-radius: 50%;
    box-shadow: 1px 1px 6px 4px rgba(255, 255, 255, 0.8);
}

.menu-items {
    display: flex;
    flex-direction: column;
    width: 75%;
    font-size: 23px;
    height: auto;
    background-color: #ebe7cc;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset 0 -1px 7px rgba(0, 0, 0, 0.5);
}


.menu-items a {
    text-decoration: none;
    color: #333;
    margin-bottom: 10px;
    padding: 8px 15px;
    border-radius: 7px;
    font-family: 'Times New Roman', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.menu-items a:hover {
    background-color: #1ebe53;
    color: #fff;
}

@media (max-width: 1300px) {
    .menu-items {
        font-size: 21px;
    }
    .menu-items a{
        padding: 8px 5px;

    }
}

@media (max-width: 1100px) {
    .menu-items {
        font-size: 18px;
        padding: 10px 0;
    }
    .menu-items a{
        padding: 8px 15px;
        margin-bottom: 0;
    }
}

@media (max-width: 750px) {
    .menu-items {
        font-size: 16px;
    }
}

.container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* Стилі для другої секції з налаштуваннями та контентом */
.settings-content {
    background-color: #ebe7cc;
    width: 72%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    left: 28%;
    padding: 10px 10px 30px 10px;
}

@media (max-width: 1100px) {
    .container {
        flex-direction: column;
        width: 85%;
    }
    .user-menu {
        flex-direction: row;
        width: auto;
        justify-content: space-between;
        margin: 10px 0;
    }
    .menu-items {
        width: 70%;
        flex-direction: row;
        padding: 10px 0;
    }
    .settings-content {
        width: auto;
    }
    .user-image {
        width: 35%;
        max-width: 220px;
    }
}

.settings-content h2 {
    background-color: #fff;
    border-radius: 50px;
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 30px;
}

.form-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 23px;
    font-family: 'Times New Roman', sans-serif;
    margin-top: 20px;
}

@media (max-width: 1500px) {
    .form-content {
        font-size: 21px;
    }
}

@media (max-width: 900px) {
    .form-content {
        font-size: 18px;
    }
}

label {
    margin-bottom: 10px;
}

input[type="number"] {
    width: 80px;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
}

.submit_button {
    background-color: #1da332;
    color: white;
    border: none;
    padding: 14px 20px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    font-size: 18px;
}

.submit_button:hover {
    background-color: #1cc537;
}

.submit_button:active {
    background-color: #16a12c; /* ще темніший при натисканні */
    transform: scale(0.98); /* невелике зменшення розміру */
}

.delete_button {
    background-color: #bc3939; /* червоний колір для попередження */
    color: white; /* білий текст */
    padding: 14px 20px; /* відступи всередині кнопки */
    font-size: 18px;
    border: none; /* без рамки */
    border-radius: 10px; /* закруглені кути */
    cursor: pointer; /* курсор у вигляді руки */
    transition: background-color 0.3s ease; /* плавна зміна кольору */
}

.delete_button:hover {
    background-color: #c10303; /* темніший червоний при наведенні */
}

.delete_button:active {
    background-color: #9e0101; /* ще темніший при натисканні */
    transform: scale(0.98); /* невелике зменшення розміру */
}


.styled-select {
    position: relative;
    display: inline-block;
}

.styled-select select {
    background: white;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 14px;
}

@media (max-width: 900px) {
    .styled-select select {
        font-size: 14px;
    }
}

.styled-select select:focus {
    outline: none;
}


.form-section {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    justify-content: space-between;
}


.divider {
    width: 5px;
    background-color: #1da332;
}

input[type="checkbox"] {
    transform: scale(2);
    margin: 5px 5px 15px 5px;
}


/* Секція створення графіку тренувань*/
.tSchedule-form label {
    font-family: "Times New Roman", sans-serif;
    margin-top: 0;
}

.form-section label.additionalInformation {
    font-size: 16px;
}


.checkboxes {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.tSchedule-section .form-section {
    justify-content: flex-start;
}

.checkboxes label {
    padding: 8px;
    background: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background 0.3s;
    user-select: none;
}

.checkboxes input[type="checkbox"] {
    margin: 5px;
}

.checkboxes label:hover {
    background: #d1e7dd;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    width: 60%;
}

#sliderValue {
    margin-bottom: 10px; /* Відступ між значенням і слайдером */
    font-size: 20px;
    font-weight: bold;
}

#difficulty {
    width: 100%;
}

.sliderAdditionalInformation{
    width: 75%;
}

.submit_button_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.planName {
    display: flex;
    flex-direction: column;
    font-size: 23px;
    align-items: center;
    margin: 5px 0;
}

@media (max-width: 1000px) {
    .planName {
        font-size: 21px;
    }
}

.planName input[type="text"] {
    width: 65%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 19px;
    color: #333;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.planName input[type="text"]:focus {
    border-color: #28a745;
    box-shadow: inset 0 2px 6px rgba(0, 128, 0, 0.3);
    outline: none;
}

/* Основний стиль для виділення лейбла */
.highlight-block {
    font-weight: bold; /* Жирний текст */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Легка тінь */
    text-align: center; /* Текст по центру */
    width: auto;
    display: inline-block;
    padding-inline: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: rgba(197, 0, 0, 0.1);
}


/* List Admin*/
.admin-list {
    position: fixed; /* Змінено на fixed для центрування на екрані */
    z-index: 1001; /* Зберігаємо список адмінів поверх оверлею */
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 65%;
    max-width: 300px;
    left: 50%; /* Центруємо по горизонталі */
    top: 50%; /* Центруємо по вертикалі */
    transform: translate(-50%, -50%); /* Зміщуємо на 50% ширини та висоти */
}

.admin-list button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.admin-list button:hover {
    background-color: #0056b3;
}


.mainOverlay {
    display: none; /* Сховати оверлей за замовчуванням */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Напівпрозорий чорний фон */
    z-index: 1000; /* Вищий z-index для перекриття контенту */
}

.admin-list p{
    text-align: center; /* Центрує текст */
    margin: 10px 0 15px 0; /* Додає відступи зверху і знизу для естетики */
}


/*Медіа меню*/
.social-media-menu {
    display: none; /* Спочатку приховано */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Центрування */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Поверх оверлея */
}

.social-media-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-media-menu ul li {
    margin: 10px 0;
}

.social-media-menu ul li a {
    color: #007bff;
    text-decoration: none;
    font-size: 21px;
}

/*список графіків*/
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Центрування */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
    width: 40%;
    max-width: 530px;
}

.modal-content {
    padding: 20px;
    background: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* додавання тіні */
    border-radius: 8px; /* закруглені кути */
}

.modal-content h2 {
    color: #333;
    margin-bottom: 5px;
}

.modal-content li {
    padding: 7px 0 5px 0;
    cursor: default;
    background: transparent;
}

.training-plan-item {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px 0;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.training-plan-item:hover {
    background-color: #f0f0f0; /* Змінює фон при наведенні */
    transform: scale(1.02); /* Злегка збільшує розмір елемента */
    cursor: pointer; /* Змінює курсор на вказівник */
}

.training-plan-item.selected {
    background-color: #a8b3b6;
    border-color: #4CAF50;
}

.details {
    margin-top: 10px;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}

.close-button {
    cursor: pointer;
    font-size: 1.5em;
}

.no-bullets {
    list-style-type: none;
    padding: 0;
    margin-top: 6px;
}

.button-container {
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
}

#workoutDetailsContainer {
    text-align: left;
    max-height: 400px;
    overflow-y: auto;
    margin: 10px 0;
}

#workoutDetailsContainer::-webkit-scrollbar {
    width: 10px;
}

#workoutDetailsContainer::-webkit-scrollbar-thumb {
    background-color: #1d1a6b;
    border-radius: 4px;
}

#workoutDetailsContainer::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

/* Заголовок для дня */
.accordion {
    background-color: #4a90e2;
    border-radius: 5px;
    padding: 15px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

#workoutDetailsModal, #workoutListModal {
    width: 100%;
}

.accordion:hover {
    background-color: #357abd;
}

.accordion h3 {
    margin: 0;
    font-size: 18px;
}

.panel {
    padding: 10px 15px;
    display: none;
    background-color: #f9f9f9;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

/* Блок з інформацією про вправу */
.exercise-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.exercise-item p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}

.exercise-item p strong {
    color: #555;
}

/* Стиль для затемнення екрану під час завантаження */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

/* Спінер для завантаження */
.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
